<a href="https://colab.research.google.com/github/fedhere/MLTSA_FBianco/blob/master/CodeExamples/Copy_of_Age_coronavirus.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**a quick, possibly (certainly) buggy analysis of the cornavirus data on Kaggle https://www.kaggle.com/sudalairajkumar/novel-corona-virus-2019-dataset**

Visualizing the number of deaths, and the presence of the virus by country

TODO: 
* export the bokeh interactive plot to the web
* normalize by population
* review and kill bugs
* review and simplify syntax
* review and comment for posterity

In [0]:
!pip install kaggle
!pip install geopandas

Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.6)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.28.1)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.6.1)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.21.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.12.0)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.0.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2019.11.28)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.8)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: geopandas in /usr/local/lib/python3.6/dist-packages (0.7.0)
Requirement already satisfied: pandas>=0.23.0 in /usr/local/lib/python3.6/dist-packages (from geopandas) (0.25.3)
Requirement already satisfied: shapely in /usr/local/lib/python3.6/dist-packages (from geopandas) (1.7.0)
Requirement already satisfied: fiona in /usr/local/lib/python3.6/dist-packages (from geopandas) (1.8.13.post1)
Requirement already satisfied: pyproj>=2.2.0 in /usr/local/lib/python3.6/dist-packages (from geopandas) (2.5.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (2018.9)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (1.17.5)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (2.6.1)
Requirement already satisfied: munch in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (2.5.0)
Requirement already satisfied: click<8,>=4.0 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (7.0)
Requirement already satisfied: click-plugins>=1.0 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (1.1.1)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (1.12.0)
Requirement already satisfied: cligj>=0.5 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (0.5.0)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (19.3.0)

In [0]:
import pandas as pd
import pylab as pl
import geopandas as gpd
import shapely
import json
import os
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [0]:
from google.colab import drive

drive.mount("/content/gdrive")

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
cd gdrive/My\ Drive/

/content/gdrive/My Drive

In [0]:
!ls kaggle.json

kaggle.json

In [0]:
!chmod 600 kaggle.json

In [0]:

envs = json.load(open("kaggle.json", "r"))
os.environ["KAGGLE_USERNAME"] = envs['username']
os.environ["KAGGLE_KEY"] = envs['key']

In [0]:
!kaggle datasets list -s coronavirus

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
ref                                                                    title                                                size  lastUpdated          downloadCount
---------------------------------------------------------------------  --------------------------------------------------  -----  -------------------  -------------
kimjihoo/coronavirusdataset                                            Coronavirus-Dataset                                  31KB  2020-03-10 05:40:00           9293
jamzing/sars-coronavirus-accession                                     SARS CORONAVIRUS ACCESSION                            2MB  2020-02-18 15:49:34           2126
brendaso/2019-coronavirus-dataset-01212020-01262020                    2019 Coronavirus dataset (January - February 2020)   53KB  2020-02-06 18:09:28           7757
sudalairajkumar/novel-corona-virus-2019-dataset                        Novel Corona Virus 2019 Dataset                     340KB  2020-03-10 06:40:14          29970
grebublin/coronavirus-latlon-dataset                                   Coronavirus Lat/Lon Dataset                         113KB  2020-02-11 09:45:02            382
vignesh1694/covid19-coronavirus                                        COVID-19 Coronavirus Dataset                        120KB  2020-03-04 15:25:33            312
paultimothymooney/coronavirus-genome-sequence                          Coronavirus Genome Sequence                           9MB  2020-02-29 00:25:13             31
gpreda/coronavirus-2019ncov                                            Coronavirus 2019-nCoV                                44KB  2020-03-10 06:34:24             33
tunguz/coronavirus-2019ncov-parameters-and-predictions                 Coronavirus 2019-nCoV: Parameters and Predictions     1MB  2020-02-05 16:47:18            128
muhakabartay/novel-coronavirus-2019ncov                                Novel coronavirus (2019-nCoV)                         8KB  2020-02-10 07:35:34             99
lperez/coronavirus-france-dataset                                      Coronavirus France dataset                            5KB  2020-03-10 08:29:20             15
imdevskp/corona-virus-report                                           COVID-19 Complete Dataset (Updated every 24hrs)      67KB  2020-03-10 06:55:29           2998
ilvlan/covid19-01222020-to-02272020                                    novel coronavirus 2019                               37MB  2020-03-08 20:24:27             29
mathurinache/microbescope-coronavirus-zika-ebola                       MicrobeScope - Coronavirus, Zika, Ebola             225KB  2020-01-29 12:57:39             92
kokecacao/2019-ncov                                                    Wuhan 2019-nCoV Coronavirus Through Google Trend     664B  2020-01-26 03:09:36             56
anjanatiha/corona-virus-time-series-dataset                            Novel Corona Virus Dataset                          184KB  2020-03-10 15:32:15            211
sudalairajkumar/covid19-in-italy                                       COVID-19 in Italy                                    21KB  2020-03-10 06:39:26             71
kimdanny/covid19-in-south-korea                                        2019 Novel Coronavirus cases in South Korea (대한민국)    6KB  2020-03-04 03:21:20             44
de5d5fe61fcaa6ad7a66/pandemic-2009-h1n1-swine-flu-influenza-a-dataset  Pandemic 2009 H1N1 Swine Flu Influenza A Dataset      9KB  2020-02-09 17:34:46            297
antgoldbloom/coronavirus-covid19-cases-jhu-data                        Coronavirus (COVID-19) Cases from JHU                37MB  2020-03-08 21:34:45             12

In [0]:
!mkdir cv19

mkdir: cannot create directory ‘cv19’: File exists

In [0]:
cd cv19/

/content/gdrive/My Drive/cv19

In [0]:
mkdir data

mkdir: cannot create directory ‘data’: File exists

In [0]:
cd data

/content/gdrive/My Drive/cv19/data

In [0]:
!kaggle datasets download kimjihoo/coronavirusdataset

Downloading coronavirusdataset.zip to /content/gdrive/My Drive/cv19/data
100% 30.7k/30.7k [00:00<00:00, 197kB/s]

In [0]:
ls

coronavirusdataset.zip  patient.csv  route.csv  time.csv  trend.csv

In [0]:
!unzip coronavirusdataset.zip

Archive:  coronavirusdataset.zip
  inflating: group.csv
replace patient.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [0]:
cd ../

/content/gdrive/My Drive/cv19

In [0]:
!ls

data

In [0]:
patients = pd.read_csv("data/patient.csv")

In [0]:
patients.describe()

                id   birth_year  ...  infected_by  contact_number
count  7513.000000   645.000000  ...    70.000000       50.000000
mean   3757.000000  1974.164341  ...   379.000000       69.400000
std    2168.960619    17.270976  ...   540.247528      182.876338
min       1.000000  1929.000000  ...     3.000000        0.000000
25%    1879.000000  1962.000000  ...    29.250000        3.000000
50%    3757.000000  1974.000000  ...   126.000000       15.500000
75%    5635.000000  1990.000000  ...   563.250000       44.500000
max    7513.000000  2018.000000  ...  2621.000000     1160.000000

[8 rows x 6 columns]

In [0]:
patients.head()

   id     sex  birth_year  ... released_date deceased_date     state
0   1  female      1984.0  ...    2020-02-06           NaN  released
1   2    male      1964.0  ...    2020-02-05           NaN  released
2   3    male      1966.0  ...    2020-02-12           NaN  released
3   4    male      1964.0  ...    2020-02-09           NaN  released
4   5    male      1987.0  ...    2020-03-02           NaN  released

[5 rows x 15 columns]

In [0]:
patients.tail()

        id  sex  birth_year  ... released_date deceased_date     state
7508  7509  NaN         NaN  ...           NaN           NaN  isolated
7509  7510  NaN         NaN  ...           NaN           NaN  isolated
7510  7511  NaN         NaN  ...           NaN           NaN  isolated
7511  7512  NaN         NaN  ...           NaN           NaN  isolated
7512  7513  NaN         NaN  ...           NaN           NaN  isolated

[5 rows x 15 columns]

Pandas datetime variables
https://pandas.pydata.org/pandas-docs/stable/user_guide/timedeltas.html